@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}
.feature_image {
  transition: .5s ease-in-out !important;
}
.opacity{
  opacity: 1;
}
.contactsImg{
  transform: translateX(0%);
}
.inventoryImg{
  transform: translateX(-79%);
}
.reportingImg{
  transform: translateX(-157%);
}
.iconbg{
  background: #2563EB;
}
.textcolor{
  color: #2563EB;
}
.iconImg{
  filter: invert(1) !important;
}